.browseFunction A {

}

.browseFunction a:hover {
	text-decoration:underline;
	color:red;
}

.browseFunction {
	background-color:#E6E6FA;
	padding:5px;
}


.searchCriteria {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #DADADA;
}

.optionSelect {
	float:left;
	width:120px;
}

.toolBar {
	margin-left:12px;
	margin-bottom:5px;
}


/*****************************************************
	search form
*****************************************************/
.searchForm {
	background-color:white;
	/*background-color:#98FB98;*/
	padding:10px;
}

.searchFormCell {
	background-color:white;
}

.searchList {
	list-style-type:none;
	padding-left:10px;
	margin-top:3px;
}

.searchFormHidden {

        visibility:hidden;
        position:absolute;

}

.searchField {

        font-size:10px;
        height:18px;
}

.forumResultsEven {
	font-size:12;
	border: 1px solid white;
	padding:5px;
	background-color:#F7F7F7;
}

.forumResultsOdd {
	font-size:12;
	border: 1px solid white;
	background-color:#D5E6E1;
	padding:5px;
}

.forumResultsTitle {
	font-size:12;
	padding:5px;
	font-weight:bold;
	background-color:#D5E6E1;
	color:#000080;
	border: 1px solid white;
}

