li {
	list-style-type:none;
}

.welcomeHeader {
	border-top:1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
}

.welcomeStat {
	background-color:#DADADA;
	float:right;
	margin-top:1px;
	margin-bottom:1px;
	padding:3px;
}

.welcomeContent {
	background-color:#DADADA;
	margin-top:1px;
	margin-bottom:1px;
	font-weight:bold;
	font-size:14px;
	padding:3px;
}

.dbNote {
	float:right;
	text-align:right;
	font-size:12px;
	font-weight:normal;
}

.dbCell {
	margin-top:10px;
	width:100%;
	padding:10px;
}

.dbHeader {
	font-size:14px;
	color:#4682B4;
	font-weight:bold;
	width:100%;
	border-bottom:1px solid #4682B4;
}

.dbContent {

}

