.browseFunction A {

}

.browseFunction a:hover {
	text-decoration:underline;
	color:red;
}

.browseFunction {
	background-color:#E6E6FA;
	padding:5px;
}


.searchCriteria {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #DADADA;
}