	<module>
		<module_name>Related Objects</module_name>
		<link_name>filerelated</link_name>
		<hidden>0</hidden>
		<perm_error>0</perm_error>
		<auth_only>1</auth_only>
		<sort_order>8</sort_order>
                <custom_perm>OBJ_ADMIN</custom_perm>
                <custom_perm>OBJ_MANAGE</custom_perm>
		<custom_perm>OBJ_EDIT</custom_perm>
		<module_description></module_description>
		<check_type>file</check_type>
	</module>

