	<module>
		<module_name>Url</module_name>
		<link_name>url</link_name>
		<hidden>1</hidden>
		<permissions>INSERT_OBJECTS</permissions>
		<perm_error></perm_error>
		<auth_only>1</auth_only>
		<module_description></module_description>
		<object>1</object>
		<show_obj_create>1</show_obj_create>
		<viewer>urlview</viewer>
	</module>

