	<module>
		<module_name>File Update</module_name>
		<link_name>filecheckin</link_name>
		<perm_error></perm_error>
		<auth_only>1</auth_only>
		<sort_order>4</sort_order>
		<module_description></module_description>
                <custom_perm>OBJ_CHECKIN</custom_perm>
		<helper>file</helper>
		<helper_sort>4</helper_sort>
		<helper_noperm>1</helper_noperm>
		<check_type>file</check_type>
	</module>

