
BODY {

	font-family:"Sans Serif","Verdana";
	font-size:12;

}

TABLE {

	font-family:"Sans Serif","Verdana";
	font-size:12;
	margin:0px;
	padding:0px;
}

FORM {
	margin:0px;
	padding:0px;
}

ul {
	padding-left:5px;
	margin-left:5px;
	margin-top:5px;
}

a {text-decoration: none}
a:link {color:blue;}
a:visited {color:blue;}
a:hover {color:red;}


/**********************************************
	Site Header
**********************************************/

.siteHeader {
	border-bottom:2px solid black;		
	float:left;
	height:50px;
	width:100%;
}

.siteBody {
	float:left;
	width:100%;
	margin-top:0px;
}

.siteLeftColumn {
	position:absolute;
	width:180px;	
	z-index:2;	
	left:10px;
	margin-top:10px;
}

.siteCenterColumn {
	margin-left:215px;
	margin-right:10px;
	padding-top:10px;
	position:relative;
	z-index:3;
}

.siteCenterColumnNoHeader {
	z-index:3;
	margin:10px;
	width:95%;
}

.titlePicBar {
	height:50px;
	float:left;
	padding-top:5px;
	padding-left:10px;
}

.siteNavBar {
	float:right;
	font-size:12;
	height:14px;
	color:blue;
	float:right;
	text-align:right;
	white-space:nowrap;
	z-index:2;
}

.siteNavBar a:link {color:blue;}
.siteNavBar a:hover {color:red;}
.siteNavBar a:visited {color:blue;}

.siteToolBar {
	text-align:right;
	vertical-align:bottom;
	white-space:nowrap;
	font-size:12;
	padding-right:8px;
	padding-top:10px;
	float:right;
	z-index:3;
}

.siteToolBar a:link {color:blue;}
.siteToolBar a:hover {color:red;}
.siteToolBar a:visited {color:blue;}


/**********************************************	
	module navigation on top right
	corner of the page
**********************************************/
.navBar {
	float:right;
	font-size:12;
	height:14px;
	color:black;
	float:right;
	text-align:right;
	white-space:nowrap;
	margin-right:4px;
}

.navBar a:link {color:blue;}
.navBar a:visited {color:blue;}
.navBar a:hover {color:red;}


/*************************************************
	top toolbar in center column
*************************************************/

.toolBar {
	white-space:nowrap;
	font-size:12px;
	font-weight:normal;
}

.toolBar a:link {color:blue;}
.toolBar a:visited {color:blue;}

.toolBar a:hover {
	color:red;
	text-decoration:underline;
}



/*****************************************************************
	left column module display
*****************************************************************/

.leftColumnModule {
	font-size:12px;
	width:175px;
}

.leftColumnBody {
	padding-left:5px;
	padding-right:5px;
	border-left:1px solid slategray;
	border-right:1px solid slategray;
}
	
.leftColumnHeader {
	height:16px;
	width:100%;
	color:#4682B4;
	text-decoration:underline;
	font-weight:bold;	
}

.leftColumnTop {
	background-image:url("../../../themes/default/images/leftcoltop.png");
	background-repeat:no-repeat;
	height:9px;
	font-size:2px;
}

.leftColumnBottom {
	background-image:url("../../../themes/default/images/leftcolbottom.png");
	background-repeat:no-repeat;
	height:9px;
}

.leftColumnContent {
	width:100%;
	font-size:12px;
	color:black;			
}


/*****************************************************************
	stylesheet for the section display function
*****************************************************************/

.sectionHeader {
	height:22px;
       	font-size:16px;
	padding-left:5px;
	font-weight:bold;
	color:black;
	border-bottom:1px solid black;
       	text-align:left;
	width:100%;
}

.sectionHeader A:link {color:white;}
.sectionHeader A:hover {color:red;}
.sectionHeader A:visited {color:white;}

.sectionContent {
	width:100%;
}


/************************************************************
	generic classes
************************************************************/

/* put after floating divs */
.cleaner {
	clear:both;
	height:0px;
	font-size:0px;
	border:none;
	margin:0; padding:0;
	background:transparent;
}

/* generic for created left/right column page */
.leftColumn {
	float:left;
	width:48%;
	padding-right:10px;
}

.rightColumn {
	float:left;
	width:48%;
	padding-left:10px;
}

.formHeader {
	color:darkblue;
	font-weight:bold;
}

.errorMessage {

	font-size:12;
	color:red;
	font-weight:bold;

}

.successMessage {

	font-size:12;
	color:green;
	font-weight:bold;

}

.pageHeader {
	font-size:14;
	font-weight:bold;
	border-bottom: 1px solid black;
	text-align:left;
}

.areaHeader {
	font-weight:bold;
	font-size:12px;
}

a.boldLink:link {
	color:blue;
	text-decoration:underline;
	font-weight:bold;
}

a.boldLink:visited {
	color:blue;
	text-decoration:underline;
	font-weight:bold;
}

a.boldLink:hover {
	color:red;
	text-decoration:underline;
	font-weight:bold;
}

/******************************************************
	finder classes
******************************************************/

.objectDescription {
	color:darkslategray;
}

div.objectRelated {
	color:darkslategray;
}
.objectRelated a:link {
	color:darkslategray;
}
.objectRelated a:hover {
	color:red;
}
.objectRelated a:visited {
	color:darkslategray;
}

.browseFunctionLeft a:hover {
        text-decoration:underline;
        color:red;
}

.browseFunctionLeft {
        background-color:#DCDCDC;
        background-image:url("../../../themes/default/images/browseleftcorner.png");
        background-repeat:no-repeat;
        background-position:left;
        padding:5px;
	height:28px;
	min-width:49%;
	max-width:75%;
	white-space:nowrap;
}

.browseFunctionRight a:hover {
        text-decoration:underline;
        color:red;
}

.browseFunctionRight {
        background-color:#DCDCDC;
        background-image:url("../../../themes/default/images/browserightcorner.png");
        background-repeat:no-repeat;
        background-position:right;
        padding:5px;
	height:28px;
	min-width:24%;
	max-width:50%;
	white-space:nowrap;
}

.thumbContainer {
 	width:150px;
	height:200px;
        float:left;
        padding:10px;
        text-align:center;
}


.fileImage {
	margin-top:20px;
}

.previewImage {
	height:100px;
	border-top:1px solid lightgrey;
	border-left:1px solid lightgrey;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

.folderImage {
	height:100px;
}

.previewWindow {
	border:2px solid black;
	width:350px;
	min-height:320px;
	overflow:auto;
	background-color:white;
	z-index:100;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	-moz-border-radius: 15px;
}

.previewTitle {
	font-weight:bold;
	padding-bottom:5px;
}

.previewClose {
	float:right;
}

.searchResultsTable {
}

.searchResultsOdd {
	font-size:12;
	padding:3px 3px 3px 3px;
	border-bottom:1px solid #DADADA;
}

.searchResultsEven {
	font-size:12;
	padding:3px 3px 3px 3px;
	border-bottom:1px solid #DADADA;
}

.searchResultsTitle {
	font-size:12;
	font-weight:bold;
	background-color:#4682B4;
	color:white;
	height:18px;
}

.searchResultsLeftTitle {
	font-size:12;
	background-color:#4682B4;	
	font-weight:bold;
	color:white;
	height:18px;
	background-image:url("../../../themes/default/images/resultsleftcorner.png");
	background-repeat:no-repeat;
	background-position:left;
}

.searchResultsRightTitle {
	font-size:12;
	background-color:#4682B4;	
	font-weight:bold;	
	color:white;
	height:18px;
	background-image:url("../../../themes/default/images/resultsrightcorner.png");
	background-repeat:no-repeat;
	background-position:right;
}

.searchResultsTitle a:link {color:white}
.searchResultsTitle a:hover {color:red}
.searchResultsTitle a:visited {color:white}

.searchButton {
        font-size:10px;
        font-family:Arial;
        height:18px;
}


/********************************************************
	module link buttons
********************************************************/

a.moduleLink:link {
	color:blue;
	text-decoration:underline;
	font-weight:bold;
}

a.moduleLink:visited {
	color:blue;
	text-decoration:underline;
	font-weight:bold;
}

a.moduleLink:hover {
	color:red;
	text-decoration:underline;
	font-weight:bold;
}

div.modButton {
	width:125px;
	background: #EFF7FF;
	border: 1px solid #364970;
}

div.modButton a {
       	/* The normal, unselected tabs. They are all links */
	color: black;
	font-weight: normal;
	height: 1.2em;
	margin-right: 0.5em;
	padding: 0em 2em;
}

div.modButton a.selected {
    /* The selected tab. There's only one of this */
    background: #4682B4;
    border: 1px solid #364970;
    border-bottom: #4682B4 1px solid;
    color: white;
    font-weight: normal;

}

div.modButton a:hover {
    background: #4682B4;
    border-color: #364970;
    color: white;
}

.subModuleHeader {
	font-size:14;
	font-weight:bold;
	border-bottom: 1px solid black;
	text-align:left;
	margin-left:30px;
	margin-bottom:10px;
}

.subModuleContent {
	margin-left:10px;
}


/*******************************************
	Forms
*******************************************/

.textbox {
	font-size:12;
	font-family:"Sans Serif","Verdana";
}

.textarea {
	font-size:12;
	font-family:"Sans Serif","Verdana";
}

.dropdown {
	font-size:12;
	font-family:Arial;
}

.dropdownSmall {
	font-size:10;
	font-family:"Sans Serif","Verdana";
	height:16px;
}

.submit {
	font-size:11;
	font-family:"Sans Serif","Verdana";
}

.submitSmall {
	font-size:9;
	font-family:"Sans Serif","Verdana";
}


/**********************************************
	login form
**********************************************/
/* luke's additions to the login form */
.login_form
{
	border: 0px solid #ff0000;
	margin-top:40px;
	width:100%;
}

div.login_form h1
{
	font-size: 16px;
	text-align: center;
}

div.login_form p.errorMessage
{
	text-align: center;
}

div.login_form p.form_input, div.login_form p.form_submit
{
    font-weight: bold;
	text-align: center;
}


.input_text {
	width:125px;
}

div.login_form p.form_input input
{
}


/**************************************************
	dropdown menus in finder
**************************************************/

div.makeMenu {
	float:left;	
}

div.makeMenu div {
	position:absolute;
	margin-top:-5px;
	margin-left:-220px;
	min-width:-250px;
	display:none;	
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}

div.makeMenu div li {
	padding:3px;
	list-style-type:none;
	background-color:lightblue;
	border-bottom:1px solid black;
	cursor:default;
	text-align:left;
	white-space:nowrap;
}

div.makeMenu div li:hover {
	background-color:white;
	cursor:default;	
}

div.makeMenu:hover {
	z-index:300;
}

div.makeMenu:hover div {
	display:block;
	z-index:300;
}

/* ie-specific classes */
.curRow {
	background-color:white;
}

.regRow {
	background-color:lightblue;
}

.objIcons {
	margin-left:5px;
}

.ieSubRow {
	margin-left:-14px;
}

/*******************************************************
	object browse history menu in finder
*******************************************************/
div.menuNav {
	float:left;
}


div.menuArrow:hover div.menuSubNav {
	display:block;
	border:1px solid black;
}

div.menuEntry {
	float:left;
	border:1px solid white;
	padding:3px;
}

div.menuArrow {
	float:left;
	padding:3px;
	border-left:1px solid white;
	border-top:1px solid white;
	border-bottom:1px solid white;
	height:15px;
}

div.menuArrow:hover {
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
	background-color:lightblue;
}

div.menuArrow img {
	margin-top:3px;
}

div.menuSubNav {
	display:none;
	position:absolute;
	background-color:lightblue;
	margin-left:18px;
	margin-top:-17px;
	border:1px solid black;
	width:220px;
	max-height:300px;
	overflow:auto;
}

div.menuSubNav div {
	padding:3px;
	border-bottom:1px solid black;
	cursor:default;
	min-width:100px;
}

div.menuSubNav div:hover {
	background-color:white;
}

/* ie-only classes */
div.menuSubNavRow {
	background-color:lightblue;
}

div.menuSubNavRowOver {
	background-color:white;
}

div.menuArrowOver {
	float:left;
	padding:3px;
	border:1px solid black;
	background-color:lightblue;
}

div.menuArrowOver img {
	margin-top:3px;
}


/* for the simple nav menu */
div.navMenu {
	float:left;
	padding-left:2px;
	padding-right:2px;
	color:darkslategray;
}

div.navMenu a:link{color:darkslategray;}
div.navMenu a:visited{color:darkslategray;}
div.navMenu a:hover{color:red;}

div.navMenu img {
	margin-top:4px;
}

#siteStatus {
	padding:1px;
	visibility:hidden;
	background-color:red;
	margin-top:15px;
	margin-right:2px;
	float:right;
	color:white;
}

