	<module>
		<module_name>File Subscribe</module_name>
		<link_name>filesubscribe</link_name>
		<hidden>1</hidden>
		<perm_error></perm_error>
		<auth_only>1</auth_only>
		<sort_order></sort_order>
		<module_description></module_description>
                <custom_perm>OBJ_VIEW</custom_perm>
		<custom_perm>OBJ_MANAGE</custom_perm>
                <custom_perm>OBJ_EDIT</custom_perm>
		<custom_perm>OBJ_ADMIN</custom_perm>
		<helper>file</helper>
		<helper_sort>7</helper_sort>
		<template>blank</template>
		<check_type>file</check_type>
	</module>

