	<module>
		<module_name>Delete URL</module_name>
		<link_name>urldelete</link_name>
    		<hidden>1</hidden>
		<auth_only>1</auth_only>
		<sort_order>4</sort_order>
		<custom_perm>OBJ_ADMIN</custom_perm>
		<custom_perm>OBJ_MANAGE</custom_perm>
		<module_description></module_description>
		<helper>url</helper>
		<helper_sort>10</helper_sort>
		<template>modal</template>
		<check_type>url</check_type>
	</module>


