	<module>
		<module_name>Document</module_name>
		<link_name>document</link_name>
		<hidden>1</hidden>
		<permissions>ADMIN</permissions>
		<permissions>INSERT_OBJECTS</permissions>
        	<custom_perm>OBJ_ADMIN</custom_perm>
        	<custom_perm>OBJ_MANAGE</custom_perm>
		<perm_error></perm_error>
		<auth_only>1</auth_only>
		<module_description></module_description>
		<object>1</object>
		<show_obj_create>1</show_obj_create>
		<viewer>docview</viewer>
	</module>

