	<module>
		<module_name>Change Password</module_name>
		<link_name>accountpassword</link_name>
		<hidden></hidden>
		<perm_error></perm_error>
		<auth_only>1</auth_only>
		<sort_order>2</sort_order>
		<module_description>Update or reset your password.</module_description>
		<image>password.png</image>
	</module>

