	<module>
		<module_name>Collection Properties</module_name>
		<link_name>colprop</link_name>
		<permissions>ADMIN</permissions>
		<permissions>INSERT_OBJECTS</permissions>
                <custom_perm>OBJ_ADMIN</custom_perm>
                <custom_perm>OBJ_MANAGE</custom_perm>
		<perm_error></perm_error>
		<auth_only>1</auth_only>
		<sort_order>1</sort_order>
		<module_description>Edit the generic properties of this collection</module_description>
		<helper>collection</helper>
		<helper_sort>1</helper_sort>
		<check_type>collection</check_type>
	</module>

